* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    
  }
  
  body {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #12bddb;
  }

  .column {
    float: left;
    width: 50%;
    position: relative;
    border: black;
    border-width: 4px;
    
  
  }

  .btn {
    position: fixed;
    bottom: 0px;
    margin-left: 200%;
    margin-right: 200%;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 48;
    color: black;
    text-shadow:
        0.07em 0 yellow,
        0 0.07em yellow,
        -0.07em 0 yellow,
        0 -0.07em yellow;
    background-color: navy;
    border-color: black;
  
    
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  p {
    color:black;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 30px;
    text-shadow:
        0.07em 0 yellow,
        0 0.07em yellow,
        -0.07em 0 yellow,
        0 -0.07em yellow;
    text-align: center;
    margin-left: 5%;
}

.title {
    color: black;
    font-family: 'Permanent Marker', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: auto;
    text-shadow:
        0.07em 0 yellow,
        0 0.07em yellow,
        -0.07em 0 yellow,
        0 -0.07em yellow;

}

  
  .game-name {
    color: white;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
  
  }
  
  .game {
    width: 360px;
    height: 360px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }

  .card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    
  
  
  }
  
  .card:active {
    transform: scale(1);
    transition: transform .2s;
  }
  
  .card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    position: absolute;
    width: 90%;
    height: 90%;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  